[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.75.0"
uvicorn = "==0.17.6"
motor = "==2.5.1"
python-decouple = "==3.6"
PyJWT = "==2.3.0"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
