.header{
    height:75px;
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    background-color: #ffd000;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: flex;
    align-items: center;
}    
.element1{  
    display: inline-block;
    margin-left: 30px;
}
.element2{
    display: inline-block;
    margin-left: 20px;
    font-family: "Lucida Console";
    text-align: center;
    margin-top: 10px;
}
.element3{
    display: inline-block;
    margin-left: auto; 
    margin-right: 30px;
    margin-top: -10px;
    height: 15px;
    width: 20px;
}