.info{
    width: 700px;
    padding: auto;
    margin: 20px;
    position: absolute;
    top: 150px;
    right: 10px;
    display: grid;
    grid-template-columns: 220px 10px 420px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.infosa{
    width: 700px;
    padding: auto;
    margin: 20px;
    position: absolute;
    top: 100px;
    left: 20px;
    display: grid;
    grid-template-columns: 220px 10px 220px;
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin-top: 26px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-weight: 500;
}
.firstbody{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin-top: 32px;
    margin-left: -40px;
    margin-bottom: 50px;
    color: #ffd000;
    font-weight: 800;
}
.subtitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin-left: 30px;
    margin-bottom: 30px;
    font-weight: 800;
}
.arrow{
    font-size: large;
    margin-left: -40px;
    margin-top: 5px;
}
.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin-left: 10px;
}
.tracker{
    margin-right: 750px;
}
.btno{
    padding: auto;
    position: absolute;
    bottom: 80px;
    right: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #999999;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.btno:hover{
  background: #ffd000;
  box-shadow: 0 0 20px 0 #ffd000, 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
